# ignore folders of other matlab toolboxes

altmany-export_fig-acfd348/
heatmaps/
old_functions_materials/
redblue/
tight_subplot/
distinguishable_colors/
anneal/
model_files/
doc/manual/
doc/manuscript/
doc/sample_plots/
# zip of existing files
exact_stochlog_toolbox.zip


# files to ignore M~ files
*m~
*md~
*dat
wrapper_suppl.m
launch_calc.m
fitting_script.m
run_sobol.m
examples.m
fcn_truthtable.m
# wrapper.mlx
doc/README.html

