# ignore folders of other matlab toolboxes

altmany-export_fig-acfd348/
heatmaps/
old_functions_materials/
anneal/
distinguishable_colors/
redblue/
tight_subplot/
doc/manual/
doc/manuscript/
doc/sample_plots/
# zip of existing files
exact_stochlog_toolbox.zip
model_files/EMT_cohen
model_files/other
# compiled files
ExaStoLog/
ExaStoLog.prj

# files to ignore M~ files
*m~
*md~
*dat
launch_calc.m
fitting_script.m
fcn_truthtable.m
# wrapper.mlx
doc/README.html

